{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,

  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "consistent",

  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,

  "endOfLine": "lf",

  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^(components|config|features|atoms|molecules|organisms|storybook|assets|\\$constants|\\$graphql|content|hooks|theme|providers|types|utils|helpers|lib)",
    "^\\./\\w",
    "^\\.\\./\\w",
    "^(\\.\\./){2}\\w",
    "^(\\.\\./){3}\\w",
    "^(\\.\\./){4}\\w",
    "^(\\.\\./){5,}\\w",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": false,
  "importOrderCaseInsensitive": true
}
